*{font-family: 'Montserrat', sans-serif; }

body{
    background-color: #427E80;
    color: #F0F5E4;
    margin: 0px;
}


nav{
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
    display: flex;
}

.menu{
    width: 300px;
    justify-content: space-around;
    display: flex;
}

main{
    padding: 100px 20px;
}

.menuItem{
    list-style-type: none;
}

.linkItem{
    background-color: #F0F5E4;
    text-decoration: none;
    font-weight: 300;
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    
}

.menuItem:active{
    transform: translate(3px, 2px);
}

.menuItem:active > .linkItem{
    box-shadow:0px 0px ;
}

rect#rect1, polygon#kybrd1{
    animation: part_1 ease-in 5s  ;
    animation-iteration-count:1 ;
    }
    
rect#rect2,polygon#kybrd2{
    animation: part_2 ease-in 5s  ;
    animation-iteration-count:1 ;
    }
@keyframes part_1{
    0% {
        transform: translate(0,-10px);
        opacity:0;}
    20% {
        transform: translate(0,-10px);
        opacity:0;}
    30% {
        transform: translate(0,0);
        opacity:1;}
    90% {
        transform: translate(0,0);
        opacity:1;}
    
    100% {
        transform: translate(0,0);
        opacity:1;}
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
    30% {
        transform: translate(0,-10px);
        opacity:0;}
    40% {
        transform: translate(0,0);
        opacity:1;}
    90% {
        transform: translate(0,0);
        opacity:1;}

    100% {
        transform:translate(0,0);
        opacity:1;}
}  

/*index*/

.centralImage{
    background: url(./assets/imagenes/codigo.jpeg) 50% 0 fixed ;
    background-size: cover;
    min-height: 500px;
    font-size: 28px;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
    display: flex;
}

h1{
    background-color: #2D2D2D;
    text-shadow: 4px 4px black;
}

h2{
    text-align: center;
    text-shadow: 2px 2px #154454;
    font-size:40px ; 
}

.centerTitle{
    text-align: center;
}

p{
    color: black;
   
}

.parentContent{
    margin: 100px;
    gap: 20px;
    justify-content: space-evenly;
    display: flex;
}

.card{
    background-color: #F0F5E4;
    height: 400px;
    width: 350px;
    border: 5px solid #154454;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cardDescript{
    height: 30px;
    width: 90%;
    text-align: center;
}

.historyTxt{
    width: 45%;
}

.cardImg{
    width: 100%;
}

.goButton{
    background-color: #427E80;
    box-shadow: 2px 3px #154454;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px ;
}

.goButton:active{
    box-shadow: 0px 0px #2D2D2D;
    transform: translate(3px, 2px);
}

/*Historia*/

.historyContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.historyCard{
    padding:80px 50px;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ensamblajeTxt{
    width: 45%;
}

.videoArea{
    padding: 100px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.navigationBar{
    background-color:  black;
    padding: 2px 5px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
}

.buttons{
    gap: 20px;
    display: flex;
}

.container{
    background-color:  black;
    padding: 5px;
    width: 70%;
}

#play,#pause{
    width: 80px;
}

.videoButton{
    border-radius: 10px;
}


.videoButton:active{
    box-shadow: 0px 0px #2D2D2D;
    transform: translate(3px, 2px);
}
#videoLength{
    padding-top: 28px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Juguemos*/
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyBoxes{
    display: flex;
    gap: 1px;
}
.dropbox{
    background-color: grey;
    width: 275px;
    height: 400px;
    border: 2px solid black;
    text-align: center;
}

.imgBox{
    margin: 40px;
}
#img1,#img2,#img3{
    width: 275px;
    height: 400px;
}
.restart{
    margin: auto;
    padding: 10px 100px;
    display: flex;
}

/*footer*/

footer{
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
}

.footerCenter{
    font-size: 14px;
}

.footerLeft{
    justify-content: space-between;
    width:300px;
    height: 60px;
    display: flex;
}